[Desktop Entry]
Type=Application
Name=Blossom
Comment=Primitive email client that supports receiving and sending emails built on Adw and Gtk
Icon=blossom
Categories=Network
Terminal=false
